html{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

body{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;    
}
a{
    text-decoration: none;
}

#main{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: white;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    letter-spacing: 0.3px;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    

    padding: 65px 80px;
    z-index: 1;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 10px 15px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.menu li a:hover{
    color:white;
    background-color: black;
    transition: ease-in 0.2s; 
}

.logo{
    color:black;
    font-size: 22px;
}

.name{
    font-size: 28px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 5%;
}
/*
.back-line{
    align-self: end;
    width: 50%;
    height: 25%;
    margin-bottom: 2em;
    position: absolute;
    bottom: 1rem;
    left: 0%;
    border-right: 1px solid rgba(41,41,41,.4);
}*/
 /*
.back-line::after{
    content:" ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-radius: 10px;
    */
    /*border-color:#292929 transparent transparent transparent;*/
  /*  right: -0.7em;
    bottom: -7px;
}
*/

.wrap-gallery{
    background-color: white;
    padding: 40px;
}
/*
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
}

.portfolio-image{
    width: 100%;
    height: 20rem;
}
.portfolio-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-image .pic:first-child{
    grid-column-start: span 2;
}
*/
.main .gallery{
    position: relative;
    height: 70rem;
    width: 100%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    /*grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));*/
    /*grid-gap: 2vmin;*/
}

.main .gallery .image{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main .gallery .image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main .gallery .image:first-child{
    grid-column-start: span 2;
}

.main .gallery .image:nth-child(7){
    grid-column-start: span 2;
}
.btn-main{
    display: flex;
    justify-content: center;
}
.gallery-btn{
    background-color: black;
    text-align: center;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5rem;
    
}

.detail-container{
    background-color: white;

}
.detail-container .detail-area{
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    text-align: left;
}
.detail1, .detail2{
    padding: 15px 25px;
}
.detail1 .text, .detail2 .text{
    line-height: 1.8rem;
}

.divide{
    text-align: center;
    padding: 35px;
}

.container-footer{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-area{
    display: flex;
    justify-content: center;
}

.footer-area a{
    color: rgba(0, 0,0, 0.5);
    padding-left: 10px;
}

.social{
    display: flex;
    justify-content: center;
}
.social i{
    color: rgba(0, 0,0, 1);
    padding: 35px 20px;
}